<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario - Agregar Curso</title>
</head>
<body>
    {% if miFormulario4.errors %} 
    
    <p style="color: red;"></p>
    
    {% endif %}

    <form action="/App/buscar/" method="get">

        <input type="code" name="codigo_de_reserva" id="codigo_de_reserva">

        <input type="submit" value="Buscar">
        
     </form>   
</body>
</html>